table {
  width: 100%;
}

.custom-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.custom-button-row .mat-mdc-button-base {
  margin: 8px 0 8px 0;
}

section {
  display: flex;
  align-items: center;
}


.actions-col{
  width: 60px;
  text-align: center;
}

mat-card{
  padding: 2em;
}

.float-right{
  justify-content: end;
}

#add-button{
  float: right;
  
}
