<mat-toolbar class="background-filled-default">
  <button *ngIf="authService.isAuthenticated()" [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Dunder Mifflin</span>
  <span class="example-spacer"></span>
  <button (click)="configService.toggleTheme()" matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>tonality</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button (click)="navigateToCategories()" mat-menu-item>Categories</button>
    <button mat-menu-item>Products</button>
</mat-menu>