<div class="characters-flex">
  <mat-card  matTooltip="{{ character.description }}" (click)="onCharacterClick(character)" *ngFor="let character of characters" class="employee" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ character.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="character.thumbnail" alt="{{ character.name }}">
  </mat-card>
</div>

<span>
  <a href="https://www.bu.edu/articles/2024/to-do-today-free-dunder-mifflin-paint-night/" target="_blank" rel="noopener">Big thanks to Boston University for this image</a>
</span>