/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Light Theme (default)
:root {
    --color-dark-primary: #011f4b;
    --color-dark-secondary: #03396c;
    --color-dark-intermediate: #005b96;
    --color-light-primary: #6497b1;
    --color-light-secondary: #b3cde0;


    --background-filled-default: var(--color-dark-secondary);
    --mat-toolbar-container-text-color: var(--color-light-primary);
    --mat-icon-button-icon-color: var(--color-light-primary);
    background-color: var( --color-light-secondary);
    color: var(--color-light-primary);

    .mat-toolbar {
        background-color: var(--background-filled-default);
        color: var(--mat-toolbar-container-text-color);
    }
    .mat-icon-button {
        color: var(--mat-icon-button-icon-color);
    }
}

// Dark Theme
[data-theme="dark"] {
    --background-filled-default: var(--color-dark-primary);
    --mat-toolbar-container-text-color: var(--color-light-secondary);
    --mat-icon-button-icon-color: var(--color-light-secondary);
    background-color: var( --color-dark-secondary);
    color: var(--color-light-secondary);

   
}