/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .background-filled-default{
//     background-color: var(--background-filled-default);
// }



:root {
    --background-filled-default: #cf3f3f;
    .mat-toolbar {
        background-color: var(--background-filled-default);
    }

}
