
.outter-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-main-background-color);
}

.container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}